body {
  text-align: center;
  background-color: black;
  color: lightgray;
}

#robogers {
  display: none;
}

#output {
  text-align: left;
}

#robogersImg {
  float: left;
  height: 600px;
  margin-right: 10px;
}

